* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

body {
  background: #34495e;
}
