.section-registration {
  max-width: 144rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80vh;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-wrap: wrap;
  justify-content: start;
}

.regForm {
  justify-content: center;
  width: auto;
  align-items: center;
  padding: 2rem;
  align-self: center;
  flex-grow: 1;
}
.data {
  margin-left: 10rem;
}
.regImg {
  display: flex;
  align-items: center;
  width: 50%;
  align-self: center;
}
.regImg img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

input {
  width: 80%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  border: 2px solid rgb(153, 185, 255);
}
.heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  font-family: monospace;
  color: #fff;
  margin-bottom: 2rem;
}

button {
  display: block;
  padding: 1rem 2.3rem;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: rgb(153, 185, 255);
  transition: width 0.3s linear;
  color: #fff;
  width: 80%;
}

button:hover {
  background-color: rgb(84, 121, 247);
  color: #000;
}
